:root {
    --dark-gray: #2d394b;
}

#root,
body,
html {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.header-icons {
    width: 24px;
    height: 24px;
    color: #b0bec5;
    margin: 0px 5px;
}

.header-icons:hover {
    cursor: pointer;
    color: #fff;
}
