.headerWrapper {
    height: 60px;
    background-color: var(--dark-gray);
    color: #fff;
}

.headerRow {
    height: 100%;
    align-items: center;
}

.selectBox {
    width: 100%;
    height: 100%;
    background: red;
    border: none;
    outline: none;
}